body{
	background-color:wheat;
}

.title{
	background-color: chartreuse;
	text-align: center;
	padding: 10px;
	border-radius: 30px;

}
h2
{
	border: 5PX;
	background-color: crimson;
}

P{
	color: blue;
	font-size: large;
}
img{
	height: 200px;
	width: 300px;
}
.gellary-img{
	text-align: center;

}
.gellary-img h3{
	margin-bottom: 10px;
}
